.header {
  height: 100px;
  padding: 5px;
  margin: 0px;
}
.nav-bar-link {
  overflow: hidden;
  color: black;
}
.nav-bar-link li {
  list-style-type: none;
  float: left;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.2s ease-in-out;
  text-transform: capitalize;
  box-sizing: inherit;
}
.nav-bar-link a {
  color: rgb(255, 255, 255);
}
.nav-bar-link a:hover {
  color: black;
  transform: scale(1.1);
}
.toggle {
  widows: 100%;
  padding: 10px 20px;
  background: #001f44;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}
@media (max-width: 768px) {
  .toggle {
    display: block;
  }
}
ul {
  width: 100%;
}
ul li {
  display: block;
  text-align: center;
}
